<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaurav.service">

    <application>
        <service android:name=".MusicServiceImpl">
            <intent-filter>
                <action android:name="PLAY_PAUSE" />
            </intent-filter>
        </service>
    </application>
</manifest>